<section class="main-content__body">
 <hr/>
  <%= form_for([:reset_cache, namespace, page.resource], method: :post, html: { class: "form" }) do |f| %>
    <div class="form-actions">
      <p>Isso limpará as chaves de cache IndexedDB do redis. <br>O próximo carregamento irá buscar os dados do backend.</p>
      <%= f.submit 'Atualizar o cache' %>
    </div>
  <% end %>
</section>
